[Desktop Entry]
Version=1.0
Name=arduino-ide
Comment=Open-source electronics prototyping platform
Exec=arduino-ide
Icon=arduino-ide
Terminal=false
Type=Application
Categories=Development;
StartupNotify=false
