[Unit]
Description=ymarks-server
After=network.target

[Service]
Type=simple
User=ymarks
Group=ymarks
WorkingDirectory=/etc/ymarks
ExecStart=/etc/ymarks/ymarks &
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
